.subcategory {
    display: none;
}
#next-to{
    display: flex;
}
#spacing{
    margin: 20px 0px 0px 0px;
}
#spacing-mid{
    margin: 20px 0px 0px 100px;
}
#main{
    margin: 50px auto; width:750px;
}
#price,
#dateTo,
#phone,
#shire{
    width:min-content;
}
#mainPhoto{
    display: none;
}
h1{
    margin: 0 0 50px 0;
}
h3{
    margin: 5px;
}
