#navigation {
    display:block;
}
#navigation > div {
    display: grid;
    /*grid-template-columns: 15% 40% 25% 10% 10%;*/
    grid-template-columns: auto auto auto 15% 15%;
    gap: 10px;
}
#search{
    width:85%;
}
/*Delete, if need for search button*/
#hiddenSearch{
    display: none;
}
.addAd{
    display: grid;
    justify-content: center;
}
.navbar .dropdown-menu .form-control {
    width: 250px;
}
.message-section,
.logout,
.profile{
    display: none;
}
.advertisement-section{
    display: block;
}