.subcategory {
    display: none;
}
#next-to{
    display: flex;
}
#spacing{
    margin: 20px 0px 0px 0px;
}
#spacing-mid{
    margin: 20px 0px 0px 100px;
}
#main{
    margin: 50px auto; width:750px;
}
#price,
#dateTo,
#phone,
#shire{
    width:min-content;
}
#mainPhoto,
.createdAdSection,
.myAdvertisements,
.editMyAdvertisement{
    display: none;
}
h1{
    margin: 50px 0 50px 0 !important;
}
h3{
    margin-top: 3px !important;
    margin-bottom: 0 !important;
    margin-left: 5px;
}
#profileContent > div{
    display:grid;
    grid-template-columns: 50% 50% ;
    justify-content: center;
    align-items: center;
}
#myAds{
    width: 200px;
}
.myAdsDiv,
#myProfilePictureDiv{
    margin: 0 auto;
}
.rounded-circle{
    width: 200px;
    height: 200px;
    -webkit-border-radius: 60px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 60px;
    -moz-background-clip: padding;
    border-radius: 60px;
    background-clip: padding-box;
    margin: 7px 0 25px 5px;
    background-size: cover;
    background-position: center center;
}