.subcategory {
    display: none;
}
#next-to{
    display: flex;
}
#spacing{
    margin: 20px 0px 0px 0px;
}
#spacing-mid{
    width: 1600px;
    /*margin: 20px 0px 0px 100px;*/
    margin: 0 auto;
}
#main{
    margin: 50px auto; width:750px;
}
#price,
#dateTo,
#phone,
#shire{
    width:min-content;
}
#mainPhoto,
.createdAdSection,
.myAdvertisements,
.editMyAdvertisement,
.user-content{
    display: none;
}
h1{
    margin: 50px 0 50px 0 !important;
}
h3{
    margin-top: 3px !important;
    margin-bottom: 0 !important;
    margin-left: 5px;
}
#profileContent > div{
    display:grid;
    grid-template-columns: 50% 50% ;
    justify-content: center;
    align-items: center;
}
.myAdsHeader > div{
    display:grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    align-items: center;
}
#myAds{
    width: 200px;
}
#backToProfile,
#backToAd,
#backToMyAds,
#editAd,
#sellAd,
#deleteAd{
    width: 100px;
}
.myAdsDiv,
#myProfilePictureDiv{
    margin: 0 auto;
}
.rounded-circle{
    width: 200px;
    height: 200px;
    -webkit-border-radius: 60px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 60px;
    -moz-background-clip: padding;
    border-radius: 60px;
    background-clip: padding-box;
    margin: 7px 0 25px 5px;
    background-size: cover;
    background-position: center center;
}
.categorytext{
    font-size: 1vw;
    text-align: center;
}

.inztitle{
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    background-color:rgb(232, 235, 232);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.inzbody{
    font-size: 1vw;
    background-color:rgb(232, 235, 232);
}

.inzfooter{
    font-size: 1vw;
    text-align: right;
    justify-content: flex-end;
    background-color:rgb(232, 235, 232);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.inzownertop{
    background-color:rgb(187, 255, 187);
}
.inzownerbody{
    background-color:rgb(187, 255, 187);
}
.inzownerbottom{
    background-color:rgb(187, 255, 187);
    border-bottom-left-radius: 10px;
}
.inzowner{
    background-color:rgb(187, 255, 187);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

a{
    text-decoration:none;
    color: inherit;
}

.showAdvanced{
    max-height: 2000px;
    overflow: hidden;
    transition: max-height 0.8s ease;
}



.gridNBackground{
    background-color:rgb(232, 235, 232);
    border-radius: 10px;
}

.preview-images-zone {
    width: 100%;
    border: 1px solid #ddd;
    min-height: 180px;
    /* display: flex; */
    padding: 5px 5px 0px 5px;
    position: relative;
    overflow:auto;
}
.preview-images-zone > .preview-image:first-child {
    height: 185px;
    width: 185px;
    position: relative;
    margin-right: 5px;
}
.preview-images-zone > .preview-image {
    height: 90px;
    width: 90px;
    position: relative;
    margin-right: 5px;
    float: left;
    margin-bottom: 5px;
}
.preview-images-zone > .preview-image > .image-zone {
    width: 100%;
    height: 100%;
}
.preview-images-zone > .preview-image > .image-zone > img {
    width: 100%;
    height: 100%;
}
.preview-images-zone > .preview-image > .tools-edit-image {
    position: absolute;
    z-index: 100;
    color: #fff;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    display: none;
}
.preview-images-zone > .preview-image > .image-cancel {
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
    display: none;
    z-index: 100;
}
.preview-image:hover > .image-zone {
    cursor: move;
    opacity: .5;
}
.preview-image:hover > .tools-edit-image,
.preview-image:hover > .image-cancel {
    display: block;
}
.ui-sortable-helper {
    width: 90px !important;
    height: 90px !important;
}
.container {
    padding-top: 50px;
}

/* start my ads */
#gridUnsold,
#gridSold{
    width: 1600px;
    margin: 0 auto 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
    gap: 1em;
    padding: 10px;
}
.gridBackground{
    width: 250px;
    background-color:rgb(232, 235, 232);
    border-radius: 10px;
}
#gridButton,
#gridInfo{
    display: grid;
    grid-template-columns: auto auto;
}
#money{
    margin: 5px 0 5px 5px;
    color:rgb(99, 155, 16);
    font-weight:bold;
    font-size: medium;
}
#place{
    text-align: right;
    margin: 5px 5px 5px 0;
}
#editAd,
#sellAd{
    min-width: 100%;
    min-height: 50px !important;
    padding: none !important;
    margin-top: 0 !important;
}
#editAd{
    /*border-bottom-left-radius: 10px;*/
    border-radius: 0 0 0 10px;
}
#sellAd{
    /*border-bottom-right-radius: 10px;*/
    border-radius: 0 0 10px 0;
    background-color: rgb(223, 145, 1);
    border-color: rgb(223, 145, 1);
}
#deleteAd:hover{
    border-color: red;
}
#cont{
    position: relative;
}
#deleteAd{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 11%;
    left: 93%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    cursor: pointer;
    z-index: 1000;
}
#sellAd:hover{
    background-color: rgb(155, 101, 1);
    border-color: rgb(155, 101, 1);
}
#bold{
    margin: 5px 5px 5px 5px;
    font-weight: bold;
}
/* end my ads */

/* start index */
/*#categories-section1,
#categories-section2{
    display:grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
#categories-section1 > div > button,
#categories-section2 > div > button{
    width: 100%;
}
#categories-section2 > div > button{
    margin-top: 15px;
}*/
#pricefrom{
    margin-bottom: 10px;
}
/* end index */

.full{
    color: #ffcc00;
}

.modal{
    display: none;
    vertical-align: middle;
    position: fixed;
    z-index: 1;
    padding: 10%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.close{
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
}

.close:hover, .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.reviewTable{
    border-collapse: separate;
    border-spacing: 10px;
    margin-right: 1%;
    margin-left: 1%;
    width: 98%;
}

.reviewDiv{
    background-color: rgb(240, 238, 238);
    margin-bottom: 10px;
    border-radius: 7px;
}

td{
    vertical-align: top;
}

.nameCell{
    font-weight: bold;
    width: 29%;
}

.descCell{
    text-align: justify;
    width: 69%;
}

.headlineCell{
    text-align: right;
}